{ue_port, 42}.
{tester_port, [vxi11, {"10.0.150.192","inst1"}]}. % {tester_port, [gpib]}.
{pathloss, {2, 2}}.
{plmn, "46001"}.
{auth, off}. % on, off

{gsm_cell, {gsm, 1}}.
{gsm_tester_port, [vxi11, {"10.0.150.192","inst2"}]}. % {tester_port, [gpib]}.
{gsm_pathloss, {2, 2}}.
{gsm_plmn, "00101"}.
{gsm_init, [{gsm_set_level, [-30]}, {gsm_set_channel, [26]}]}.
{gsm_auth, off}. % on, off

{idle_current, 10}.
{power_monitor, "C:/Program Files/Monsoon Solutions Inc/Power Monitor/PowerToolCmd.exe"}.
{v_power_on, 4.2}.
{v_run, 4.0}.
{log_to, "e:/temp/1231"}.

{tester, '3110'}.

