{ue_port, 42}.
{plmn, "46001"}.
{auth, off}.        % on, off
{pathloss, [{12, 12}, {12, 12}]}.

{restart, cfun}.    % cfun, modem_reset, reboot

{tester_port, [
                [hislip, {"192.168.20.5", "hislip0"}], 
                [hislip, {"192.168.20.5", "hislip1"}]
              ]}.
{tester, '8820'}.
